<div id="test" data-toggle="context" data-target="#context-menu">
    <head>
        <title>称重管理平台</title>
        <meta charset="utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <!--<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">-->
        <link rel="stylesheet" href="/adminlte-2.3.6/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/adminlte-2.3.6/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/adminlte-2.3.6/ionicons-2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/adminlte-2.3.6/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="/adminlte-2.3.6/dist/css/skins/skin-green.css">
        <script src="/adminlte-2.3.6/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <script src="/adminlte-2.3.6/bootstrap/js/bootstrap.min.js"></script>
        <script src="/adminlte-2.3.6/dist/js/app.js"></script>
        <script src="/adminlte-2.3.6/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <link rel="stylesheet" href="/adminlte-2.3.6/plugins/iCheck/all.css">
        <script src="/adminlte-2.3.6/plugins/iCheck/icheck.min.js"></script>
        <script src="/adminlte-2.3.6/plugins/md5/jquery.md5.js"></script>
        <script src="/adminlte-2.3.6/plugins/input-number/jquery.inputnumber.js"></script>
        <link rel="stylesheet" href="/adminlte-2.3.6/plugins/gritter/jquery.gritter.css">
        <script src="/adminlte-2.3.6/plugins/gritter/jquery.gritter.js"></script>
        <link rel="stylesheet" href="/adminlte-2.3.6/plugins/loadmask/jquery.loadmask.css">
        <script src="/adminlte-2.3.6/plugins/loadmask/jquery.loadmask.min.js"></script>
        <script src="/adminlte-2.3.6/plugins/validator/validator.min.js"></script>
        <script src="/adminlte-2.3.6/plugins/bootbox/bootbox.min.js"></script>
        <script src="/adminlte-2.3.6/plugins/cookie/jquery.cookie.min.js"></script>
        <script src="/easyui/easyloader.js"></script>
        <link rel="stylesheet" href="/adminlte-2.3.6/plugins/bootstrap-pagination/bootstrap-pagination.css" />
        <link rel="stylesheet" href="/adminlte-2.3.6/plugins/font_628020_ihkw5so17r3yds4i/iconfont.css" />
        <script src="/adminlte-2.3.6/plugins/bootstrap-pagination/bootstrap-pagination.js"></script>

        <link rel="stylesheet" href="/adminlte-2.3.6/dist/css/common.css">
        <script src="/adminlte-2.3.6/dist/js/common.js"></script>
        <script>
            function GetQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }
            var isIntegrate = GetQueryString("isIntegrate");
            if (isIntegrate != null && isIntegrate.toString().length > 1 && isIntegrate == "true") {
                //设置cookie
                if (GetQueryString("token") != null) {
                    $.cookie("token", GetQueryString("token"));
                }
                if (GetQueryString("nvrurl") != null) {
                    $.cookie("target_host", '/' + GetQueryString("nvrurl"));
                }
                if (GetQueryString("nvruser") != null) {
                    $.cookie("username", GetQueryString("nvruser"));
                }
                isIntegrate = true;
            } else {
                isIntegrate = false;
            }
            var host = location.host.split(":")[0];
            var baseUrl = "http://localhost:10800";
            var _url = baseUrl + "/api/v1";
            //var _url = "http://localhost:10800/api/v1";
            try {
                $.ajax({
                    type: "GET",
                    url: _url + "/getserverinfo",
                    global: false,
                    async: false,
                    success: function(data) {
                        var ret = JSON.parse(data);
                        _url = baseUrl + "/api/" + ret.EasyDarwin.Body.InterfaceVersion;
                    }
                });
            } catch (e) {}

            easyloader.theme = 'bootstrap';
            // easyloader.locale = 'zh_CN';
            easyloader.load(['form']);
        </script>
        <link rel="stylesheet" href="/adminlte-2.3.6/plugins/video-js-5.19.2/video-js.css" />
        <script src="/adminlte-2.3.6/plugins/video-js-5.19.2/video.js"></script>
        <script src="/adminlte-2.3.6/plugins/video-js-5.19.2/videojs-contrib-hls4.js"></script>

        <script src="/adminlte-2.3.6/plugins/moment/moment-with-locales.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="/adminlte-2.3.6/plugins/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="/adminlte-2.3.6/plugins/daterangepicker/moment.js"></script>
        <script type="text/javascript" src="/adminlte-2.3.6/plugins/daterangepicker/daterangepicker.js"></script>
        <script type="text/javascript" src="/js/jquery.qrcode.min.js"></script>
        <style>
            .channel .thumbnail {
                position: relative;
            }

            .channel .mask {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(255, 255, 255, 0.5);
            }

            .channel.offline .mask {
                display: block;
            }

            .show-list {
                max-height: 450px;
                width: 100%;
                overflow-y: auto;
                border-left: 1px solid #CCC;
                padding-right:20px;
                margin-bottom:10px;
            }

            .video-window {
                float: left;
                /**
                margin-left: 1%;
                margin-bottom: 1%;
                width: 48%;
                */
                height: 0;
                position: relative;
                padding-bottom: 25%;
                background-color: #000;
                border: 1px solid #fff;
            }

            .show-type {
                height: auto;
                overflow: hidden;
                padding-bottom: 20px;
            }

            .video-player {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .channel-title {
                padding: 10px 0;
                cursor: pointer;
                width: 100%;
                font-weight: bold;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .cont1 {
                width: 100%;
                height: auto;
                overflow: hidden;
                margin: 0 auto;
            }

            .video-close {
                position: absolute;
                right: 10px;
                top: 5px;
                z-index: 999;
                cursor: pointer;
                font-size: 12px;
                color: #fff;
                font-weight: bold;
            }

            .video-title {
                position: absolute;
                left: 15px;
                top: 5px;
                z-index: 999;
                cursor: pointer;
                font-size: 12px;
                color: #fff;
                font-weight: bold;
            }

            /*.play-window {
                margin-left: 30px;
            }*/

            .show-type {
                position: absolute;
                left: 5px;
                top: -40px;
            }
            .add-list{
                margin-left: -10px;
                cursor:pointer;
                width:20px;
                height:20px;
            }
            .error-message{
                z-index: 999;
                position: absolute;
                top: 5px;right:10px;
                color: #cbd2de;
                /*color: #D2D2D2;*/
                font-weight:bold;
            }
            .vjs-progress-control,.vjs-remaining-time-display{
                visibility: hidden;
            }
            .video-js .vjs-play-control.vjs-playing {
                visibility: hidden;
            }
            .video-js.vjs-playing .vjs-tech {
                pointer-events: none;
            }
            /*.vjs-control-bar, .vjs-big-play-button {
                display: none !important;
            }*/
            @media (max-width: 991px) {
                .show-type {
                    position: absolute;
                    left: 15px;
                    top: 0;
                }
            }
        </style>
    </head>
    <script>
        var host = location.host.split(":")[0];

        $.cookie("target_host", location.pathname);
        var openurls = ["/", "/about.html"];
        var token = $.cookie("token") || "";
        //                    if (!token && $.inArray(location.pathname, openurls) < 0) {
        //                       top.location.href = "/login.html";
        //                    }
        if (token) {
            $("#btn-modify-pwd").show();
            $("#btn-logout").show();
        } else {
            $("#btn-login").show();
        }
        if (!token) {
            // $(".treeview [href=/config.html]").closest(".treeview").hide();
            // $(".treeview [href=/channel.html]").closest(".treeview").hide();
        }
    </script>
    <div class="show-content cont1">
        <div class="col-sm-3 video-title" hidden style="position:relative">
            <div style="position: absolute; width:100%;height:100%;left:0;top:0;" class="not-click hide"></div>
            <div class="add-list">
                <img src="/images/close.png" title="收起" border="0" width="20px" height="20px" />
            </div>
            <div class="show-list">
                <p class="channel-title" onclick="goPlay(this)"></p>
            </div>
        </div>
        <div class="row video-show">
            <div class="col-md-6 window14 hide video-window">
                <div class="video-title">
                    标题
                </div>
                <!--<div class="video-title" onclick="closeWin(this)">-->
                    <!--标题-->
                <!--</div>-->
                <!--<div class="video-close" onclick="closeWin(this)">-->
                    <!--关闭-->
                <!--</div>-->
                <video class="video-js vjs-default-skin vjs-big-play-centered video-player" controls preload="none" poster="" style="width:100%;height: 100%">
                    <source src="" type=""></source>
                </video>
            </div>
            <div class="col-xs-3 window15 hide video-window">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">尚无直播视频</div>
            </div>
            <div class="col-xs-3 window1 video-window" alt="1">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">尚无直播视频</div>
            </div>
            <div class="col-xs-3 window2 video-window" alt="2">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">尚无直播视频</div>
            </div>
            <div class="col-xs-3 window3 video-window" alt="3">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">尚无直播视频</div>
            </div>
            <div class="col-xs-3 window4 video-window" alt="4">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">尚无直播视频</div>
            </div>

            <div class="col-xs-3 window5 video-window" alt="5">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">
                    尚无直播视频
                </div>
            </div>
            <div class="col-xs-3 window6 video-window" alt="6">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">
                    尚无直播视频
                </div>
            </div>
            <div class="col-xs-3 window7 video-window" alt="7">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">
                    尚无直播视频
                </div>
            </div>
            <div class="col-xs-3 window8 video-window" alt="8">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">
                    尚无直播视频
                </div>
            </div>

            <div class="col-xs-3 window9 video-window" alt="9">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">
                    尚无直播视频
                </div>
            </div>
            <div class="col-xs-3 window10 video-window" alt="10">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">
                    尚无直播视频
                </div>
            </div>
            <div class="col-xs-3 window11 video-window" alt="11">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">
                    尚无直播视频
                </div>
            </div>

            <div class="col-xs-3 window12 video-window" alt="12">
                <div style="color:#fff;text-align:center;padding-top:25%;font-weight: bold;">
                    尚无直播视频
                </div>
            </div>

        </div>
    </div>
    <div class="channels show-content cont0 hide">
        <div class="channel-template hide">
            <div class="col-sm-6 col-md-4 channel">
                <div class="thumbnail" style="position:relative;">
                    <div class="wrapper" style="padding-bottom:55%;position:relative;">
                        <div class="inner" style="position:absolute;top:0;bottom:0;left:0;right:0;">
                            <img style="width:100%;height:100%;" role="button" onerror="this.src='/images/snap.png'">
                        </div>
                    </div>
                    <div class="caption">
                        <span class="channel-name"></span>
                        <span class="channel-status pull-right">
                            <i class="fa fa-check-circle"></i>
                            <span class="channel-status-text"></span>
                        </span>
                    </div>
                    <div class="mask">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        videojs.options.flash.swf = '/adminlte-2.3.6/plugins/video-js-5.19.2/video-js-fixed.swf';
        videojs.options.techOrder = ['html5', 'flash'];
        var itemHtml = $(".show-list").html();
        $(".show-list").empty();
        var videoHtml = $(".window14").html();
        var onlyVideo = $(".window15").html();
        var players = [];
        var windows = [1, 2, 3, 4,5,6,7,8,9,10,11,12];

        $(function () {

            if (!isPC()) {
                $(".show-type").css("display", "none");
            }

            function renderChannel($channel) {
                var channel = $channel.data("channel");
                var snap = channel["SnapURL"] || "/images/snap.png";
                $channel.find("img").attr("src", snap).attr("alt", channel["Name"]);
                $channel.find(".channel-name").text("[channel"+channel["Channel"]+"]"+channel["Name"]);
                if (!channel["Online"]) {
                    if (channel["ErrorString"]!="") {
                        var errorMessage =  "<div class='error-message'>错误码："+channel["ErrorString"]+"</div>";
                    }
                    $channel.find(".thumbnail").append(errorMessage);
                    $channel.addClass("offline");
                    $channel.find(".channel-status-text").text("不在线");
                } else {
                    $channel.find(".channel-status-text").text("在线");
                    $channel.find(".caption").addClass("text-green");
                }
            }

            $.get(_url + "/getchannels?t="+new Date().getTime(), function (data) {
                try {
                    var ret = JSON.parse(data);
                    if (ret.EasyDarwin.Body.ChannelCount==0) {
                        $(".cont0").append("<div style='color:#ccc;font-weight:bold;font-size:24px;text-align:center'>当前没有通道，记得配置通道哦！</div>")
                    } else {
                        ret.EasyDarwin.Body.Channels.sort(function (a, b) {
                            return parseInt(a["Channel"]) - parseInt(b["Channel"]);
                        })
                        $.each(ret.EasyDarwin.Body.Channels, function (i, channel) {
                            var html = $(".channel-template").html();
                            var $channel = $(html);
                            $(".channels").append($channel);
                            $channel.data("channel", channel);
                            renderChannel($channel);
                        })
                        $.each(ret.EasyDarwin.Body.Channels, function (i, channel) {
                            var $item = $(itemHtml);
                            $(".show-list").append($item);
                            $item.data("channel", channel);
                            $item.text("-----" + channel.Name).attr({ "alt": channel.Channel, "title": channel.Name });
                            if (channel.Online == 0) {
                                $item.css({ "color": "#999", "background": "none" });
                            } else {
                                $item.css({ "color": "green" });
                                $item.mouseover(function () {
                                    $item.css({ "background-color": "#dddddd", "color": "#fff" });
                                });
                                $item.mouseout(function () {
                                    $item.css({ "background": "none", "color": "green" });
                                });
                            }

                            //直接触发点击事件播放
                            $item.trigger('click');
                        })
                    }

                } catch (e) {
                    console.log(e);
                }
            })
            $(".add-list").on("click", function () {
                var static = $(this).find("img").attr("title");
                if (static == "展示") {
                    $(this).find("img").attr({ "src": "/images/close.png", "title": "收起" });
                    $(".show-list").css("display", "block");
                    $(".video-title").removeClass("col-sm-1").addClass("col-sm-3");
                    $(".video-show").removeClass("col-sm-11").addClass("col-sm-9");
                } else {
                    $(this).find("img").attr({ "src": "/images/show.png", "title": "展示" });
                    $(".show-list").css("display", "none");
                    $(".video-title").removeClass("col-sm-3").addClass("col-sm-1");
                    $(".video-show").removeClass("col-sm-9").addClass("col-sm-11");
                }
            })
            $(document).on("click", ".channel img", function (e) {
                var $img = $(this);
                var $channel = $img.closest(".channel");
                var channel = $channel.data("channel");
                $("body").mask("加载中...", 100);
                $.ajax({
                    type: "GET",
                    url: _url + "/getchannelstream",
                    data: {
                        Channel: channel["Channel"],
                        Protocol: isPC() ? "RTMP" : "HLS",
                        Line: "local",
                        From: "lan"
                    },
                    success: function (data) {
                        try {
                            var ret = JSON.parse(data);
                            var videoUrl = ret.EasyDarwin.Body.URL;
                            var DeviceType = ret.EasyDarwin.Body.DeviceType;
                            if (!videoUrl) {
                                throw new Error('URL is empty');
                            }
                            videoUrl = videoUrl.replace("{host}", host);
                            $.cookie("videoUrl", videoUrl);
                            $.cookie("DeviceType", DeviceType);
                            $.cookie("videoImg", $img.attr("src"));
                            $.cookie("channel", channel["Channel"]);
                            $.cookie("channelName", channel["Name"]);
                            if (isIntegrate) {
                                location.href = "./play.html?isIntegrate=true&channel=" + channel["Channel"];
                            }else {
                                top.location.href = "./play.html?channel=" + channel["Channel"];
                            }
                            return;
                        } catch (e) {
                            $.gritter.add({
                                text: '获取视频流失败!',
                                class_name: 'gritter-error'
                            });
                            console.log(e);
                        }
                    },
                    error: function (xhr, ts, err) {
                        $.gritter.add({
                            text: '获取视频流失败!',
                            class_name: 'gritter-error'
                        });
                    },
                    complete: function () {
                        $("body").unmask();
                    }
                });
            })
        })
        function changeType(type) {
            $(".show-type").find("i").css("color", "#666");
            $('.show-content').addClass('hide');
            if (type == 1) {
                $(".show-type").find("i:eq(1)").css("color", "#00a65a");
                $('.cont1').removeClass("hide");
                $('.cont0').addClass('hide');
            } else {
                $(".show-type").find("i:eq(0)").css("color", "#00a65a");
                $('.cont0').removeClass('hide');
                windows.length = 0;
                windows = [1, 2, 3, 4,5,6,7,8,9,10,11,12];
                $.each(players, function (index, item) {
                    clearInterval($("#player" + item).data("timer"));
                    videojs("player" + item).dispose();
                    $(".window" + item).html(onlyVideo);
                });
                players.length = 0;
            }
        }

        function sortNumber(a,b)
        {
            return a - b
        }

        function goPlay(mine) {
            var name = $(mine).html();
            var channelVal = $(mine).attr('alt');
            $.ajax({
                type: "GET",
                url: _url + "/getchannelstream",
                data: {
                    Channel: channelVal,
                    Protocol: isPC() ? "RTMP" : "HLS",
                    Line: "local",
                    From: "lan"
                },
                success: function (data) {
                    var ret = JSON.parse(data);
                    var videoUrl = ret.EasyDarwin.Body.URL;
                    videoUrl = videoUrl.replace("{host}", host);
                    if (videoUrl == "") {
                        $.gritter.add("当前通道不在线");
                    } else {
                        if (windows.length == 0) {
                            $.gritter.add("当前播放窗口已被占满");
                        } else {
                            windows = windows.sort(sortNumber);
                            var i = windows[0];
                            $(".window" + i).html("");
                            $(".window" + i).append(videoHtml);
                            $(".window" + i).find("video").attr("id", "player" + i);
                            // $(".window" + i).find("video").append("<source></source>");

                            //添加标题
                            $(".window" + i).find(".video-title").html(ret.EasyDarwin.Body.ChannelName);
                            if(videoUrl.indexOf("rtmp") == 0){
                                $(".window" + i).find("video").find("source").attr({"src": videoUrl,"type":"rtmp/mp4"});
                                // alert($(".window" + i).html())
                                player = videojs("player" + i, {
                                    notSupportedMessage: '您的浏览器没有安装或开启Flash，戳我开启！',
                                    techOrder: ["flash"],
                                    autoplay: true
                                });
                                player.on("error",function(e){
                                    var $e = $("#player"+i+ ".vjs-error .vjs-error-display .vjs-modal-dialog-content");
                                    var $a = $("<a href='http://www.adobe.com/go/getflashplayer' target='_blank'></a>").text($e.text());
                                    $e.empty().append($a);
                                })
                                $(".vjs-tech").prop("disabled",true);

                                windows.splice(0, 1);
                                players.push(i);
                            }else{
                                var timeout = 10000;
                                var step = 500;
                                var cnt = 0;
                                function testHls(){
                                    cnt += step;
                                    $.ajax(videoUrl,{
                                        type : "HEAD",
                                        global : false,
                                        complete :function(xhr,ts){
                                            if(cnt>timeout){
                                                $(".player-wrapper").unmask();
                                                $.gritter.add("请求数据失败");
                                                $(".window" + i).html("<div style='color:#fff;text-align:center;padding-top:25%;font-weight: bold;'>尚无直播视频</div>");
                                                $('.not-click').addClass("hide");
                                                return;
                                            }
                                            if(xhr.status == 404 || xhr.status == 0){
                                                console.log("video is no ready, waiting...");
                                                $(".window" + i).html("<div style='color:#fff;text-align:center;padding-top:25%;font-weight: bold;'>正在准备视频，请稍等...</div>");
                                                // $.gritter.add("等待视频加载！！！");
                                                $('.not-click').removeClass("hide");
                                                setTimeout(testHls,step);
                                            }else{
                                                $(".window" + i).html("");
                                                $(".window" + i).append(videoHtml);
                                                $(".window" + i).find("video").attr("id", "player" + i);
                                                // $(".window" + i).find("video").append("<source></source>");
                                                $('.not-click').addClass("hide");
                                                $(".window" + i).find("video").find("source").attr("src", videoUrl).attr("type","application/x-mpegURL");

                                                player = videojs("player" + i,{
                                                    autoplay : true
                                                });
                                                $(".vjs-tech").prop("disabled",true);

                                                windows.splice(0, 1);
                                                players.push(i);
                                            }
                                        }
                                    })
                                }
                                testHls();
                            }

                            // nowTimeLive="timerLive"+channelVal;
                            nowTimeLive = setInterval(function() {
                                $.get(_url + "/touchchannelstream", {
                                    Channel:channelVal,
                                    Protocol: isPC() ? "RTMP" : "HLS",
                                    Line: "local",
                                    From: "lan"
                                }, function(data) {
                                    console.log(data);
                                })
                            }, 30000);
                            $("#player"+i).data("timer", nowTimeLive);
                        }
                    }
                }
            })
        }

        function closeWin(mine) {
            var winNum = $(mine).parent().attr("alt");
            var videoId = $(mine).next().attr("id")
            clearInterval($("#" + videoId).data("timer"));
            videojs(videoId).dispose();
            $(mine).parent().html(onlyVideo);
            $.each(players, function (index, item) {
                if (item == winNum) {
                    players.splice(index, 1);
                }
            });
            windows.push(winNum);
        }

    </script>

    <script type="text/javascript">
        //changeType(1);
    </script>
</div>
