<div id="video-content" data-toggle="context" data-target="#context-menu" style="height: 700px">
    <!--<iframe src="/view/video/newVideo-back3.html" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" id="myiframe"></iframe>-->
    <!--<iframe src="http://localhost:10800/newVideo-back3.html" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" id="myiframe"></iframe>-->
    <iframe src="/video.html" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" id="myiframe"></iframe>
</div>
