<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
	
	<bean id="tokenConfig" class="com.yc.sandfactory.token.config.TokenConfig">
		<property name="expiredTimeInMinutes" value="${expiredTimeInMinutes}"/>
		<property name="autoDelay" value="true"/>
	</bean>
	
	<bean id="tokenOperator" class="com.yc.sandfactory.token.operator.MemoryTokenOperator">
		<constructor-arg>
			<ref bean="tokenConfig"/>
		</constructor-arg>
	</bean>
	
	<bean id="tokenFactory" class="com.yc.sandfactory.token.TokenFactory">
		<property name="operator" ref="tokenOperator"></property>
	</bean>
    
</beans>